.body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    margin: 100px 0;
    justify-content: space-evenly;
}

.pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pictures img:nth-child(1){
    margin-bottom: 20px;
}

@media (min-width:0) and (max-width:750.9px) {

    .body{
        margin: 30px 0;
        padding: 0 20px;
    }

    .body img{
        width: 80%;
        margin-bottom: 20px;
        height: 200px;
        object-fit: cover;
    }

    .body .pictures{
        width: 100%;
        align-items: center;
    }
}

@media (min-width:751px) and (max-width:1300.9px) {
    .body img{
        width: 30%;
        margin-bottom: 20px;
        height: 200px;
        object-fit: cover;
    }

    .body img:first-child{
        height: 100%;
    }

    .body img:last-child{
        width: 100%;
        height: 400px;
        object-fit: cover;
        display: none;
    }

    .pictures{
        width: 30%;
    }

    .pictures img,
    .pictures img:first-child,
    .pictures img:last-child{
        width: 100%;
        height: 200px;
        display: inherit;
    }
}