.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 44px 0;
}

.block {
  width: 50%;
}

.block h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.block p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.01em;

  color: #000000;
  margin-top: 22px;
}

@media (min-width:0) and (max-width:500.9px) {
    .block {
        width: 80%;
    }

    .block h1{
        font-size: 24px;
        line-height: 30px;
    }
}

@media (min-width:501px) and (max-width:800.9px) {
    .block {
        width: 70%;
    }
}