.button{
    padding: 10px 0px;
    width: 100%;
    background-color: #152A59;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 24px;
    border: none;
    justify-content: center;
}

@media (min-width:0) and (max-width:700.9px) {
    .button{
        margin: 0 auto 1rem;
        margin-left: auto !important;
    }
}