.body {
  width: 100%;
}
.body h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 20px;
}

.body h2 {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6a7d8e;
}

.body p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #586870;
}

.body input {
  width: 50%;
  height: 35px;
  background: rgba(255, 255, 255, 0.4);
  border: 0.5px solid #c0c6c9;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  margin-top: 5px;
  padding: 0 .5rem;
}

.body button {
  width: 137px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  background: linear-gradient(89.61deg, #152a59 0.33%, #2e4372 99.69%);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 0) and (max-width: 500.9px) {
  .body h1 {
    font-size: 24px;
  }

  .body h2 {
    width: 95%;
    font-size: 14px;
    line-height: 20px;
  }
}
